 @media screen and (max-width: 768px) {
       #login {
           margin-top: 20px;
        }
     
        
    }

     #ul-item a{
    text-decoration: none;
    color: white;
    
  }

  #ul-item a:hover{
   
    color: gainsboro;
    
  }

  .room h2{
    color: #000;
    font-family: "Playfair Display", times, serif;
  }

  .room span{
    color: #000;
    font-family: "Playfair Display", times, serif;
    color: orangered;
  }
  .row a{
    text-decoration: none;
    color: black;
  }